 .u-section-1 {
  background-image: linear-gradient(#adf6f2, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 1015px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 352px;
  height: 625px;
  margin: 31px auto 0 0;
}

.u-section-1 .u-video-1 {
  width: 533px;
  height: 300px;
  margin: -625px 242px 60px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 626px;
    margin-top: 57px;
    margin-left: 33px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -626px;
    margin-right: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -22px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 4px;
    margin-left: -50px;
  }

  .u-section-1 .u-video-1 {
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 191px;
    margin-top: -605px;
  }
}