.u-section-1 .u-sheet-1 {
  min-height: 2736px;
}

.u-section-1 .u-text-1 {
  margin: 0 -16px 60px 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}